/*BASIC WEBSITE THEME FORMATTING */

body {
    /*font, background theme, font size, etc.*/
    font-family: 'Lato', arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    background-image: url("../images/circles-light.png");
    background-color: teal;
    margin: 0;
    min-height: 100vh;
}

/*Footer*/

.footer {
    position:fixed;
    margin-top: 200px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: white;
    text-align: center;
    font-size: 12px;
}

/* HEADER FORMATTING */

/* Removing bullets to list About, Portfolio, Contact:'menu' items, next to each other */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* To make menu items lay flat*/

li {
    display: inline;
}

/*To customize Ananya Bala*/

#floatleft {
    float: left;
    font-size: 25px;
    font-weight: bold;
}

/* Aligning About, Portfolio and Contact to the left*/

.floatright {
    float: right;
}

/* Spacing between words on navigation */

a {
    display: block;
    padding: 8px;
}

/* Header box wider than page */

.header {
    box-sizing: border-box;
    border-color: #cccccc;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 150px;
    padding-right: 150px;
    overflow: hidden;
    background-color: #ffffff;
    font-size: 17px;
}

/* Teal highlight for 'Ananya Bala' */

.header a {
    float: left;
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
}

/* Mouse hovering over menu items in the navigation pane*/

.header a:hover {
    background-color: teal;
    color: #ffffff;
}

/*  Highlighting selected menu item from navigation pane */

.header a.clicked {
    background-color: teal;
    color: #ffffff;
    margin: 0;
    border-radius: 0px;
}

/* ABOUT PAGE FORMAT */

/* Formatting 'About Me' title */

#titleofbody {
    font-weight: bold;
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
}

/* Formatting Hi! text */
#hi {
    color: #4aaaa5;
    font-family: Arial, Helvetica, sans-serif;
}

/* Formatting page width & layout for About, Portfolio */

.body {
    background-color: #ffffff;
    border-color: #dddddd;
    max-width: 960px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    box-sizing: content-box;
    height: auto;
}

/* PORTFOLIO PAGE SPECIFICS */

div.gallery {
    /* picture layout & underlying text */
    margin: 5px;
    border: none;
    float: left;
    width: 180px;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold
}

div.gallery:hover {
    /*hover dotted border */
    border: 2px dotted teal;
}

div.gallery img {
    /*background for the images */
    width: 100%;
    height: auto;
    background-color: #ffffff;
}
#backgroundwhite {
    background-color: white;
}

div.desc {
    /*Spacing between images and description text*/
    padding: 15px;
    text-align: center;
}

/* CONTACT PAGE FORMAT */

/* Formatting page width & layout for Contact Page */

.contactbody {
    background-color: #ffffff;
    border-color: #dddddd;
    max-width: 960px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    box-sizing: content-box;
    height: auto;
}

input[type=text], textarea {
    /* text fields & text field titles */
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
}

input[type=submit] {
    /* The submit button */
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.name {
    /*Form field titles */
    font-family: Arial, Helvetica, sans-serif;
    color: #4aaaa5;
}